.ui-connected-tab[data-active="true"]::before,
.ui-connected-tab[data-active="true"]::after {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: var(--tab-shoulder-size);
  height: var(--tab-shoulder-size);
  pointer-events: none;
  content: "";
}

.ui-connected-tab[data-active="true"]::before {
  left: calc(var(--tab-shoulder-size) * -1);
  border-bottom-right-radius: var(--tab-shoulder-size);
  box-shadow: calc(var(--tab-shoulder-size) / 2) calc(var(--tab-shoulder-size) / 2) 0
    calc(var(--tab-shoulder-size) / 2) var(--tab-active-bg);
}

.ui-connected-tab[data-active="true"]::after {
  right: calc(var(--tab-shoulder-size) * -1);
  border-bottom-left-radius: var(--tab-shoulder-size);
  box-shadow: calc(var(--tab-shoulder-size) / -2) calc(var(--tab-shoulder-size) / 2) 0
    calc(var(--tab-shoulder-size) / 2) var(--tab-active-bg);
}
