@layer base {
  * {
    border-color: var(--border);
    overscroll-behavior: none;
  }

  html {
    overflow: hidden;
    background: transparent;
    scroll-behavior: smooth;
  }

  body {
    overflow: hidden;
    background: transparent;
    font-size: var(--ui-text-base);
  }

  #root {
    background: transparent;
  }
}
