@layer base {
  * {
    border-color: var(--border);
  }

  html {
    overflow: hidden;
    overscroll-behavior: none;
    background: transparent;
    scroll-behavior: smooth;
  }

  body {
    overflow: hidden;
    background: transparent;
    font-size: var(--ui-text-base);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-heading);
  }

  #root {
    background: transparent;
  }
}
