@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter-variable.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/jetbrains-mono.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-display-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/inter-display-500.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/inter-display-600.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-display-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter-variable-italic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-display-400-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/inter-display-500-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/inter-display-600-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-display-700-italic.woff2") format("woff2");
}
