.monaco-editor .inline-edit-preview-removed {
  background-color: var(--git-deleted-soft);
}

.monaco-editor .inline-edit-preview-removed-glyph {
  border-left: 2px solid var(--git-deleted);
}

.monaco-editor .inline-edit-preview-added {
  overflow: hidden;
  background-color: var(--git-added-soft);
  border-left: 2px solid var(--git-added);
  white-space: pre;
  pointer-events: none;
}
