@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";

@import "tailwindcss";

@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/fonts.css";
@import "./styles/scrollbars.css";
@import "./styles/tokens.css";
@import "./styles/layout.css";
@import "./styles/utilities.css";

@import "./features/editor/styles/token-theme.css";
@import "./features/editor/markdown/styles.css";
